* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #f5f5f4;
  font-family: "Sono", sans-serif;
  padding: 48px 64px;
}

.hidden {
  display: none !important;
}

.message {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  margin-top: 30px;
}

#root {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
  color: #f5f5f4;
  margin-top: 5px;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.form {
  background-color: #44403c;
  padding: 16px 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.form input,
.form select {
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
  width: 220px;
}

.form input::placeholder {
  color: #a8a29e;
}

.form input:first-child {
  flex-grow: 1;
}

.form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  color: #f5f5f4;
  background-color: #44403c;
  margin-bottom: 16px;
  letter-spacing: -1px;
  padding: 16px 24px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
  }
}

.vote {
  margin-left: auto;
  display: flex;
  gap: 8px;
  flex-shrink: 0;
}

.vote button {
  background-color: #57534e;
  border: none;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.vote button:hover {
  background-color: #292524;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  color: #f5f5f4;
  padding: 3px 10px 0 10px;
  border-radius: 100px;
}

ul {
  list-style: none;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  border: none;
  border-radius: 50px;
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all {
  margin-bottom: 18px;
  width: 100%;
}

.btn-cat {
  margin-bottom: 10px;
  width: 100%;
  background-image: none;
}

@media (max-width: 1000px) {
  .body {
    padding: 32px 48px;
  }

  .form {
    flex-direction: column;
    align-items: stretch;
  }

  .form select,
  .form input {
    width: auto;
  }
}
